@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');;
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#clock {
    width: 225px;
    height: 75px;
    background-color: white;
    border-radius: 5px;
    border-color:  #3F3F43;
    border-width: 5px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4A6AEE;
    font-family: 'Abel', sans-serif !important;
    font-size: 3em;
}