@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#clock {
    width: 300px;
    height: 100px;
    background-color: white;
    border-radius: 5px;
    border-color: black;
    border-width: 8px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #06b4e0;
    font-family: 'Contrail One', sans-serif;
    font-size: 4em;
}