form.signup,
form.login {
  margin-top: 50px;
}
.btn-primary { 
  background-color: #3F3F43 !important;
  border-color: #3F3F43 !important;
  font-family: 'Abel', sans-serif !important;
}
.btn-secondary { 
  background-color:  #4A6AEE !important;
  border-color:  #4A6AEE !important;
  font-family: 'Abel', sans-serif !important;
}
td,
#categoryModalHeader,
#categoryInput,
option
 {
  font-family: 'Abel', sans-serif !important;
}
h2,
h1,
.login-nav,
#display-4 {
  font-family: 'Bebas Neue', cursive !important; 
}
label,
.form-control,
th {
  font-family: 'Bebas Neue', cursive;
  font-size: medium;
}
#arrow-div,
#signup-pg
{
  background-color: #4A6AEE !important;
}
#covid{
  background-color: #3F3F43 !important;
  font-family: 'Abel', sans-serif !important;
}
#menu-bar,
.navbar-header,
.signup-body,
.navbar-default {
  background-image: url("/bgw.jpg");
}
.chart-container {
  position: relative;
  margin: auto;
  height: 40vh;
  width: 70vw;
}

