form.signup,
form.login {
  margin-top: 50px;
}
.btn-primary { 
  background-color: #3F3F43 !important;
  border-color: #3F3F43 !important;
  font-family: 'Abel', sans-serif !important;
}
td
 {
  font-family: 'Abel', sans-serif !important;
}
label {
  font-family: 'Bebas Neue', cursive;
}
#arrow-div
{
  background-color: #4A6AEE !important;
}
#covid{
  background-color: #3F3F43 !important;
  font-family: 'Abel', sans-serif !important;
}
#menu-bar,
.navbar-header {
  background-image: url("/bgw.jpg");

}